/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : Sandya
*/

#header {
    background-color: #0c79c3;
    padding: 5px;
    border-bottom: 4px solid #1089E2;
    margin-bottom:70px;
}

#header .top-header {
    padding-top: 20px;
    border-bottom: 4px solid #0c6eb6;
    padding-bottom: 20px;
}
.logo img {
    margin-left: 8%;
    width: 200px; 
    height: 80px;
}
.head-h1 {
    margin-left: 500px; 
    color: white; 
    font-size: 50px; 
    margin-top: -60px;
    cursor: pointer;
}